// Colors
// Main Primary color
$color-primary: #006699;
$color-primary-light: #07ABFB;
$color-primary-dark: #003F5D;

 // Main Secondary color
$color-secondary: #00589C;
$color-secondary-light: #0992FB;
$color-secondary-dark: #00365F;

// Main Tertiary color
$color-tertiary: #007996;
$color-tertiary-light: #04CCFB;
$color-tertiary-dark: #004A5B;

// Suport colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f7f7f7;
$color-gray-dark: #777777;

// Font
$default-font-size: 1.6rem;


//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;