.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.3) scaleY(1.4);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }


    &--blue {
        background-color: $color-primary;
        color: $color-white;
    }

    &::after {
        content: "";
        background-color: $color-primary;
        display: inline-block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 10rem;
        position: absolute;
        transition: all .2s;
    }

    &--recovery {
        text-decoration: underline;
        display: inline-block;
        border: none;
        position: relative;
        cursor: pointer;
        font-size: 1.3rem;
        background-color: $color-white
    }
}